<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル1-1</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <style>
      .label1-5 {
          padding: 10px 0;
          border-top: 1px solid #D6D6D6;
          /* border-bottom: 1px solid #D6D6D6; */
      }

      .label1-5 form label {
          display: block;
          padding-bottom: 5px;
      }

      .label1-5 form input {
          width: 100%;
      }

      .container {
          text-align: left;
      }


  </style>
</head>
<body>
  <div class="container">
      <h1>ログイン</h1>
      
      <p style="font-weight: bold; font-size: 18px;">会員のお客様</p>
      <p>メールアドレスとパスワードを入力してログインしてください</p>
     
     



　
      <!-- <table class="table1-1" border="1"> -->
          <!-- <tr>
              <th><p>メールアドレス：</p></th>
              <th><input type="text" name="name"></th>
          </tr> -->

      <div class="label1-5">
          <form action="" method="POST">    
              <label>メールアドレス</label>
              <input type="text" name="name">
          </form>
      </div>

      

      <div class="label1-5" style="border-bottom: 1px solid #D6D6D6;">
          <form action="" method="POST">    
              <label>パスワード</label>
              <input type="text" name="name">
          </form>
      </div>

      <br>







      <!-- テーブルデザインサンプル

      <table class="table1-1" border="1">
          <tr>
              <th>メールアドレス</th>
              <td><input type="text" name="name"></td>
          </tr>
      </table> -->

     




<!-- 　ボタンサンプル
      <div class="btnArea1-1-1">
          <button onclick="">
              ログインする
          </button>
      </div>
      
      <div class="btnArea1-1-2">
          <button onclick="">
              アカウント作成
          </button>
      </div>　

      <div class="btnArea1-1-3">
          <button onclick="">
              ログインにお困りの方はこちら
          </button>
      </div> -->



      <!-- enoさんボタン -->
      <div class="btns">
          <a class="btn_eno" href="">ログイン <br>する</a>
          <a class="btn_eno" href="">アカウント作成</a>
          
      </div>

      <div class="btns">
          <a class="btn_eno" href="">ログインにお困りの方はこちら</a>
      </div>
      

  
    

     
  </div>
</body>
</html>
