<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>仮登録</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <div class="container">
      <img src="../../public/image/ex_icon.png" alt="" />
      <div class="setA">
        <h1>仮登録URLをメールでお送りしました。</h1>
        <p>
          お手続きメールの有効期限は24時間です。<br />
          入力したメールアドレス宛にメールが届いているか確認ください。
        </p>
      </div>
      <div class="caption">
        <img src="../../public/image/qu_icon.png" width="40px" alt="" />
        <span>メールが届かない場合は迷惑メール設定をご確認ください。</span>
      </div>
      <div class="btnArea">
        <button onclick="location.href='../1-1.html'">ログイン画面</button>
      </div>
    </div>
  </body>
</html>
