<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル2-1</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    
    <div class="container_2">

      <h1>NEWS</h1>

    <div class="main_imgBox">
      <img class="main_logo" src="../../public/image/sozo_rogo.png" alt="SOL">
          <div class="main_img" style="background-image: url(https://f.uploader.xzy.pw/eu-prd/upload/20191108160744_61514c415a.jpg)"></div>
          <div class="main_img" style="background-image: url(https://f.uploader.xzy.pw/eu-prd/upload/20191108160418_5165755153.jpg)"></div>
                 <div class="main_img" style="background-image: url(https://f.uploader.xzy.pw/eu-prd/upload/20191108160539_6f73696931.jpg)"></div>
                 <div class="main_img" style="background-image: url(https://f.uploader.xzy.pw/eu-prd/upload/20191108160447_6f6d664c4f.jpg)"></div> 
                 <div class="main_img" style="background-image: url(https://f.uploader.xzy.pw/eu-prd/upload/20191108161055_374e67765a.jpg)"></div>
                     <div class="main_img" style="background-image: url(https://f.uploader.xzy.pw/eu-prd/upload/20191108161128_42466f414a.jpg)"></div>
    </div>

      <h1>NEW　ARRIVAL</h1>

      <div class="item_all">
        <div class="item_main">
          <div class="cart_img">
            <a href=""><img src="../../public/image/item_img/11.png" alt="" /></a>
          </div>

          <div class="item_list">
            <h1>オータムセット</h1>

            <div class="item_price">
              <p>￥15,800(税込)</p>
            </div>
          </div>
        </div>

        <hr />

        <div class="item_main">
          <div class="cart_img">
            <a href=""><img src="../../public/image/item_img/5.png" alt="" /></a>
          </div>

          <div class="item_list">
            <h1>ぐうかわセット</h1>

            <div class="item_price">
              <p>￥9,900(税込)</p>
            </div>
          </div>
        </div>

        <hr />

        <div class="item_main">
          <div class="cart_img">
            <a href=""><img src="../../public/image/item_img/7.png" alt="" /></a>
          </div>

          <div class="item_list">
            <h1>セクスィセット</h1>

            <div class="item_price">
              <p>￥26,400(税込)</p>
            </div>
          </div>
        </div>

        <hr />

        <div class="item_main">
          <div class="cart_img">
            <a href=""><img src="../../public/image/item_img/21.png" alt="" /></a>
          </div>

          <div class="item_list">
            <h1>ぐうすきセット</h1>

            <div class="item_price">
              <p>￥24,100(税込)</p>
            </div>
          </div>
        </div>

        <hr />

        <div class="item_main">
          <div class="cart_img">
            <a href=""><img src="../../public/image/item_img/24.png" alt="" /></a>
          </div>

          <div class="item_list">
            <h1>ドストライクセット</h1>

            <div class="item_price">
              <p>￥15,600(税込)</p>
            </div>
          </div>
        </div>

        <hr />

        <div class="item_main">
          <div class="cart_img">
            <a href=""><img src="../../public/image/item_img/14.png" alt="" /></a>
          </div>

          <div class="item_list">
            <h1>アヴリルラヴィーンセット</h1>

            <div class="item_price">
              <p>￥14,400(税込)</p>
            </div>
          </div>
        </div>


      <hr />

      <div class="item_main">
        <div class="cart_img">
          <a href=""><img src="../../public/image/item_img/1.png" alt="" /></a>
        </div>

        <div class="item_list">
          <h1>クールセット</h1>

          <div class="item_price">
            <p>￥14,400(税込)</p>
          </div>
        </div>
      </div>

    <hr />

    <div class="item_main">
        <div class="cart_img">
          <a href=""><img src="../../public/image/item_img/2.png" alt="" /></a>
        </div>

        <div class="item_list">
          <h1>美人さんセット</h1>

          <div class="item_price">
            <p>￥15,600(税込)</p>
          </div>
        </div>
      </div>
      <hr />

      <div class="item_main">
          <div class="cart_img">
            <a href=""><img src="../../public/image/item_img/17.png" alt="" /></a>
          </div>
  
          <div class="item_list">
            <h1>サマーセット</h1>
  
            <div class="item_price">
              <p>￥15,600(税込)</p>
            </div>
          </div>
        </div>

      <hr />

      <div class="item_main">
        <div class="cart_img">
          <a href=""><img src="../../public/image/item_img/3.png" alt="" /></a>
        </div>

        <div class="item_list">
          <h1>きゃわセット</h1>

          <div class="item_price">
            <p>￥14,400(税込)</p>
          </div>
        </div>
      </div>
    </div>

    <hr />

      <ul class="pagination">
        <li class="pre">前へ</li>
        <li class="this">1</li>
        <li><a href="page-2.html">2</a></li>
        <li><a href="page-3.html">3</a></li>
        <li><a href="page-2.html">次へ</a></li>
      </ul>

    </div>
  </body>
</html>
