<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注文詳細</title>
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/style.css">
<body>
    <div class="container">
        <div class="subTitle">
            <h1>
                購入履歴
            </h1>
            <img src="../../public/image/item_img/1.png" alt="">
        </div>
        <div class = "itemDetail">
            <h1>ここに商品名が入ります</h1>
            <span>カテゴリ名が入ります</span>

            <p>￥00,000（税込）</p>
            <p>ここに商品の説明が入ります。この文章はダミーです。文字の大きさや雰囲気をご確認ください。この文章はダミーです。文字の大きさや雰囲気をご確認ください。この文章はダミーです。文字の大きさや雰囲気をご確認ください。</p>

            <p>サイズ：M<br>
            状態：A</p>

        </div>

        <div class="btnArea">
            <button onclick="location.href=''">
                戻る
            </button>
        </div>
    </div>
</body>
</html>