<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル2-6</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <style>

  .confirmation{
    padding-top: 50px; 
    padding-bottom: 30px; 
    font-size: 22px; 
    font-weight: bold;
  }

  .container > h1{

    padding-bottom: 0px; font-weight: bold;

  }

  </style>
  <body>
    <div class="container">
      <h1 style="">退会手続き</h1>

      <p class="confirmation">確認メッセージ</p>

      <p>本当に退会してもよろしいですか？</p>

     

      
      <div class="btnArea">
        <button onclick="location.href=''">
          <p>戻る</p>
        </button>
    
        <button onclick="location.href=''">
          <p>確認</p>
        </button>
      </div>
    
    
    
    </div>
  </body>
</html>
