<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品詳細</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />

  </head>
  <body>
    <div class="container">
      <div class="subTitle">
        <h1>商品詳細</h1>
        <img src="../../public/image/item_img/1.png" alt="" />
        <p>
          ※画像はサンプル撮影のため、実際の商品と色味・使用が異なる場合がございます。
        </p>
      </div>
      <div class="itemDetail">
        <h1>ここに商品名が入ります</h1>
        <span>カテゴリ名が入ります</span>

        <p>￥00,000（税込）</p>
        <p>
          ここに商品の説明が入ります。この文章はダミーです。文字の大きさや雰囲気をご確認ください。この文章はダミーです。文字の大きさや雰囲気をご確認ください。この文章はダミーです。文字の大きさや雰囲気をご確認ください。
        </p>
      </div>

      <div class="sizeSelect">
        <table>
          <tr>
            <th>サイズ</th>
            <th>状態</th>
            <th>価格</th>
            <th>在庫</th>
            <th></th>
          </tr>
          <tr>
            <td>M</td>
            <td>B</td>
            <td>12,100円</td>
            <td>●</td>
            <td>
              <form action="">
                <input type="submit" value="カートに入れる">
              </form>
            </td>
          </tr>
          <tr>
            <td>XS</td>
            <td>S</td>
            <td>13,100円</td>
            <td>×</td>
            <td>
              <form action="">
                <input type="submit" value="カートに入れる">
              </form>
            </td>
          </tr>
        </table>

      </div>

    </div>
  </body>
</html>
