<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル3_6</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <style>
      .logo3-6{
        padding: 40px;
      }

      /* 共通container変更あり */
      .container > h1{
        border-bottom: 0px ; 
        padding-top: 50px; 
      font-size: 18px;
      }
  
      .pmail{
        font-size: 12px;
      }

      .ptop{
        font-size: 14px;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <h1>ご注文ありがとうございました！</h1>
      <div class="logo3-6">
        <img src="../../public/image/check_mark.png" alt="" title="">
      </div>
      <p class="pmail"> メールアドレスに注文確認メールを送信しました。</p>
      <div class="btnArea">
        <button onclick="location.href=''">
          <p class="ptop">TOP画面に戻る</p>
        </button>
      </div>
    </div>
  </body>
</html>
