<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル5_1</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <style>

      .label5-1 {
          padding: 10px 0;
          border-top: 1px solid #D6D6D6;
          /* border-bottom: 1px solid #D6D6D6; */
      }

      .label5-1 form label {
          display: block;
          padding-bottom: 5px;
      }

      .label5-1 form input {
          width: 100%;
      }

      .container {
          text-align: left;
      }







    </style>



  </head>
  <body>
    <div class="container">
      <h1 style="padding-bottom: 2px;">パスワード再設定</h1>

      <p style="font-size: 12px; padding-top: 30px;padding-bottom: 5px;">
        ご利用中のメールアドレスを入力してください。<br>パスワード再設定のためのURLをお送りします。
      </p>

     




      <div class="label5-1">
        <form action="" method="POST">    
            <label>登録済みメールアドレス</label>
            <input type="text" name="name">
            <p>エラーメッセージ</p>
        </form>
    </div>





        <div class="btnArea">
          <button onclick="location.href=''">
              <p>送信</p>
          </button>
      </div>

        



      </div>
    </div>
  </body>
</html>
