<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル5_4</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <style>
      .logo5-4{

        padding-top: 50px;
        padding-bottom: 10px;

      }

    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="border-bottom: 0px; padding-top: 50px;">パスワードの再設定が<br />完了しました！</h1>
     

      <div class="logo5-4">
        <img src="../../public/image/check_mark.png" alt="" title="" />
      </div>
     

      <div class="btnArea">
        <button onclick="location.href=''">
          <p style="font-size: 11px;">ログイン画面に戻る</p>
        </button>
      </div>


    </div>
  </body>
</html>
