<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル6-1</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <style>

      .subtitle6-1{
        font-size: 20px;
        padding-top: 10px;
      }

      .logo6-1{

        padding: 50px;

      }

    </style>
  










    
  </head>
  <body>
    <div class="container">
      <hr>
      <p class="subtitle6-1">新規会員登録が完了しました！</p>

      <div class="logo6-1">
      <img src="../../public/image/check_mark.png" alt="" title="" />
      </div>

      <p style="font-size: 12px;">
        Used Clothingに登録いただきありがとうございます！<br>引き続い、Used
        Clothingをお楽しみください。
      </p>



      <div class="btnArea">
        <button onclick="location.href=''">
          ログイン画面
        </button>
    </div>



    </div>
  </body>
</html>
