<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>6_2</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>本登録認証</h1>
      <p>
        登録をしたパスワードを入力してください。<br/>
      </p>
      <table class="table5-1" border="1">
        <tr>
          <th>
            <p>パスワード：</p>
          </th>
          <th><input type="text" name="name" /></th>
        </tr>
      </table>
      <!-- ボタンサブ
            <div class="btnArea">
            <button onclick="">
                送信
            </button>
        </div>  -->
      <div class="btns5-1">
        <a class="btn_eno5-1" href="">送信</a>
      </div>
    </div>
  </body>
</html>
