<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>

    <div class="header">
        <h1><img class="header_img" src="../../public/image/sozo_rogo.png" alt=""></h1>
        <nav>
          <ul>
            <li><a href=""><img class="header_icon" src="../../public/image/search_icon.png" alt=""></a></li>
            <li><a href=""><img class="header_icon" src="../../public/image/account_icon.png" alt=""></a></li>
            <li><a href=""><img class="header_icon" src="../../public/image/cart_icon.png" alt=""></a></li>
            <li><a href=""><img class="header_icon" src="../../public/image/info_icon.png" alt=""></a></li>
          </ul>
        </nav>
    </div>
  </body>
</html>
